<Project>
  <PropertyGroup>
    <GmaFrameworkRoot>$(MSBuildThisFileDirectory)..\gma-framework\src\</GmaFrameworkRoot>
    <GmaModuleNotificationsRoot>$(MSBuildThisFileDirectory)src\</GmaModuleNotificationsRoot>
  </PropertyGroup>
</Project>
